.chart-bar-container{
  padding-left: 2px;
  padding-right: 2px;
  min-height: 400px;
  background-color: gray;
  display: block;
  overflow: visible;
  min-width: 10px;
  max-width: 50px;
  position: relative;
}

.chart-bar {
  background-color: aqua;
  overflow: visible;
  display: block; 
  max-width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}