 <link rel="import" href="UserLeftPane.html">
 
<polymer-element name="left-pane-container" attributes="financialPlan" extends="div">
  <template>
     <link href="/creditdemo/asset/css/bootstrap.css" rel="stylesheet">
     <link href="/creditdemo/asset/css/creditdemo.css" rel="stylesheet">
    
     
     
     <template repeat="customer in customers}}">
                       
    </template>
   </template>
  <script type="application/dart" src="LeftPaneContainer.dart"></script>
</polymer-element>