 <link rel="import" href="FinancialChartBar.html">
 
<polymer-element name="financial-chart" attributes="financialPlan" extends="div">
  <template>
     <link href="/creditdemo/asset/css/bootstrap.css" rel="stylesheet">
     <link href="/creditdemo/asset/css/creditdemo.css" rel="stylesheet">
    
     
     
     <template repeat="{{financialYear in financialPlan.financialYears}}">
         Ohne Template {{financialYear}}
         <div is="financial-chart-bar" financialYear="{{financialYear}}" style="min-height: 100%"> </div>
    </template>
   </template>
  <script type="application/dart" src="FinancialChart.dart"></script>
</polymer-element>

